:local(.main) {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:local(.main) h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}