:local(.main) {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

:local(.body) {
    flex: 1;
    display: flex;
}

:local(.content) {
    flex: 1;
    overflow: auto;
    padding: 30px;
}

:local(.content) h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 30px 0;
}